##
## Starter overrides for Surface Pro X kernel builds.
##
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set

CONFIG_USB_STORAGE=y
CONFIG_USB_UAS=y

CONFIG_RCU_CPU_STALL_TIMEOUT=10
CONFIG_RCU_EXP_CPU_STALL_TIMEOUT=250

CONFIG_LOCALVERSION=""
# CONFIG_LOCALVERSION_AUTO is not set
